@font-face {
    font-family: "SF Pro Display Black";
    src: url(/font/SF-Pro-Display-Black.ttf);
}

@font-face {
    font-family: "SF Pro Display Heavy";
    src: url(/font/SF-Pro-Display-Heavy.ttf);
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url(/font/SF-Pro-Display-Bold.ttf);
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url(/font/SF-Pro-Display-Semibold.ttf);
}

@font-face {
    font-family: "SF Pro Display Medium";
    src: url(/font/SF-Pro-Display-Medium.ttf);
}

@font-face {
    font-family: "SF Pro Display Regular";
    src: url(/font/SF-Pro-Display-Regular.ttf);
}

@font-face {
    font-family: "SF Pro Display Light";
    src: url(/font/SF-Pro-Display-Light.ttf);
}

@font-face {
    font-family: "SF Pro Display Thin";
    src: url(/font/SF-Pro-Display-Thin.ttf);
}

@font-face {
    font-family: "SF Pro Display Ultralight";
    src: url(/font/SF-Pro-Display-Ultralight.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff99;
}

body {
    overflow: overlay;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    height: auto;
    overflow-x: hidden;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1920px;
    height: 70px;
    background-color: #ffffff00;
    transition: 0.4s ease;
}

.navbar.scrolled {
    background-color: #131313;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-logo {
    font-family: "SF Pro Display Medium";
    font-size: 3.2rem;
    color: #ffffff;
}

.navbar-nav {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-link {
    font-family: "SF Pro Display Regular";
    font-size: 2.4rem;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.nav-link:hover,
.nav-link.nav-link-active {
    color: #ff9999;
}

.hamburger-menu {
    display: none;
}

/* hello section*/

.section.hello {
    background: url(../img/hero-5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hello .row {
    display: flex;
    margin: 0 auto;
    width: 96%;
    height: 100vh;
    flex-direction: column;
}

.hello .row .col:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 80%;
}

.hello .row .col:nth-child(1) h1 {
    width: 422px;
    font-family: "SF Pro Display Regular";
    font-size: 2.2rem;
    color: #fff;
}

.hello .row .col:nth-child(2) {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
    height: 20%;
}

.hello .row .col .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 50%;
}

.hello .row .col .item:nth-child(1) {
    justify-content: flex-end;
}

.hello .row .col .item .info h5 {
    font-family: "SF Pro Display Semibold";
    font-size: 1rem;
    color: #ddd;
}

.hello .row .col .item .info p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #ff9999;
    border: 1px solid #ff9999;
}

.btn p {
    font-family: "SF Pro Display Regular";
    font-size: 0.9rem;
}

.btn i {
    font-size: 1.2rem;
}

/* exp section */

.section.exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 60px 0;
    height: auto;
    background-color: #131313;
}

.exp .row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
}

.exp .row .col {
    display: flex;
    flex-direction: column;
}

.exp .row:nth-child(4) {
    gap: 80px;
}

.exp .row:nth-child(1) .col:nth-child(1) {
    width: 50%;
}

.exp .row:nth-child(1) .col:nth-child(2) {
    flex-direction: unset;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.exp .row .col h1 {
    margin-left: -3px;
    font-family: "SF Pro Display Medium";
    font-size: 3.8rem;
    color: #ddd;
    line-height: 100%;
}

.exp .row:nth-child(2) .col:nth-child(1) {
    width: 30%;
}

.exp .row:nth-child(2) .col:nth-child(2) {
    width: 70%;
}

.exp .row:nth-child(4) .col:nth-child(1) {
    gap: 20px;
    width: 50%;
}

.exp .row:nth-child(4) .col:nth-child(2) {
    gap: 40px;
    width: 50%;
}

.exp .row .col img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.exp .row .col h6 {
    font-family: "SF Pro Display Regular";
    font-size: 0.9rem;
    color: #ddd;
}

.exp .row:nth-child(4) .col p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.exp .row:nth-child(4) .col h4 {
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #ddd;
}

.exp .row .col .info h5 {
    font-family: "SF Pro Display Medium";
    font-size: 1rem;
    color: #ddd;
}

.exp .row .col .info p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.exp .row:nth-child(2) .col .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exp .row:nth-child(2) .col .info p {
    width: 245px;
}

.exp .row:nth-child(3) img {
    margin: 0 auto;
    width: 85%;
}

.exp .row .col .item {
    display: flex;
    padding-bottom: 13px;
    border-bottom: 3px solid #555;
}

.exp .row .col .item:nth-child(2) {
    margin-bottom: 30px;
    padding: 13px 0;
}

.exp .row .col .item h4:nth-child(1) {
    width: 30%;
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #ddd;
}

.exp .row .col .item h4:nth-child(2) {
    width: 70%;
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #ddd;
}

.info h4 {
    font-family: "SF Pro Display Medium";
    font-size: 1.6rem;
    color: #ddd;
}

a.link {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #fff;
    transition: 0.3s ease;
}

a.link i {
    transform: translateX(60px);
    transition: 0.3s ease;
}

a.link:hover i {
    transform: translateX(100px);
}

/* doc1 section */

.section.doc1 {
    background-color: #ddd;
}

.doc1 .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    width: 96%;
    height: 512px;
}

.doc1 .row .col {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 340px;
    height: 440px;
    background-color: #d4d4d4;
    transition: 0.2s ease;
    outline: 3px solid transparent;
}

.doc1 .row .col:hover {
    outline: 3px solid #111;
}

.doc1 .row .col .icon {
    height: 50%;
}

.doc1 .row .col .icon img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
}

.doc1 .row .col .item {
    display: flex;
    flex-direction: column;
    height: 50%;
    border-top: 3px solid #111;
}

.doc1 .row .col .item h2 {
    padding: 20px 0;
    font-family: "SF Pro Display Medium";
    font-size: 2.2rem;
    color: #111;
}

.doc1 .row .col .item h4 {
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #111;
}

.doc1 .row .col:nth-child(3) {
    padding: 0;
    overflow: hidden;
}

.doc1 .row .col:nth-child(3) img {
    width: 110%;
}

/* doc2 section */

.section.doc2 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 60px 0;
    background-color: #131313;
}

.doc2 .row {
    margin: 0 auto;
    width: 96%;
    height: auto;
}

.doc2 .row .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.doc2 .row .col h6 {
    font-family: "SF Pro Display Regular";
    font-size: 0.9rem;
    color: #ddd;
}

.doc2 .row .col h1 {
    margin-left: -3px;
    font-family: "SF Pro Display Medium";
    font-size: 3.8rem;
    color: #ddd;
    line-height: 100%;
}

.doc2 .row:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
}

.doc2 .row:nth-child(2) .col {
    display: flex;
    flex-direction: unset;
    gap: 40px;
    width: 70%;
}

.doc2 .row .col img {
    width: 100%;
}

.doc2 .row .col p {
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #ddd;
}

/* doc3 section */

.section.doc3 {
    background-color: #fff;
}

.doc3 .row {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    width: 96%;
    height: 512px;
}

.doc3 .row .col {
    display: flex;
    margin: auto 0;
    width: 50%;
    height: 100%;
}

.doc3 .row .col:nth-child(1) {
    justify-content: flex-end;
    height: 80%;
}

.doc3 .row .col img {
    width: 100%;
}

.doc3 .row .col:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.doc3 .row .col h1 {
    margin-left: -3px;
    padding-top: 20px;
    border-top: 3px solid #111;
    font-family: "SF Pro Display Medium";
    font-size: 3.8rem;
    color: #111;
    line-height: 100%;
}

.doc3 .row .col p {
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #111;
}

.doc3 .row .col a {
    color: #111;
}

/* footer */

.footer {
    background-color: #131313;
}

.footer .row {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    padding: 70px 0;
    width: 96%;
}

.footer .row:nth-child(1) {
    border-bottom: 1px solid #aaa;
}

.footer .row .col {
    display: flex;
    width: 50%;
}

.footer .row .col .brand h1 {
    margin-bottom: 20px;
    font-family: "SF Pro Display Medium";
    font-size: 2rem;
    color: #777;
}

.footer .row .col .brand h2 {
    width: 80%;
    font-family: "SF Pro Display Medium";
    font-size: 2.6rem;
    color: #ddd;
}

.footer .row:nth-child(1) .col:nth-child(2) {
    gap: 25%;
}

.footer .row .col .item h4 {
    margin-bottom: 30px;
    font-family: "SF Pro Display Medium";
    font-size: 1.2rem;
    color: #777;
    letter-spacing: -0.2px;
}

.footer .row .col .item ul li {
    margin: 5px 0;
}

.footer .row .col .item ul li a {
    font-family: "SF Pro Display Medium";
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: -0.2px;
    white-space: nowrap;
    transition: 0.2s ease;
}

.footer .row .col .item ul li a:hover {
    color: #ff9999;
}

.footer .row:nth-child(2) .col {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.footer .row .col .copyright p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.footer .row .col .user h4 {
    font-family: "SF Pro Display Semibold";
    font-size: 1rem;
    color: #ddd;
}

.footer .row .col .user p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.footer .row .col .social {
    display: flex;
    gap: 20px;
}

.footer .row .col .social a i {
    font-size: 1.4rem;
    color: #fff;
    transition: 0.2s ease;
}

.footer .row .col .social a:hover i {
    color: #ff9999;
}

.footer .row .col .btn {
    margin: 0;
}

/* tablet */

@media(max-width: 1023px) {
    /* hello section */

    .hello .row .col:nth-child(2) {
        gap: 0;
    }

    .hello .row .col .item:nth-child(1) {
        justify-content: flex-start;
        width: 50%;
    }
    
    .hello .row .col .item:nth-child(2) {
        justify-content: flex-end;
        width: 50%;
    }
        
    .hello .row .col .item:nth-child(2) .info {
        display: none;
    }

    /* exp section */

    .exp .row:nth-child(1) {
        flex-direction: column;
        gap: 40px;
    }

    .exp .row:nth-child(1) .col {
        justify-content: flex-start !important;
        width: 100% !important;
    }

    .exp .row:nth-child(2) {
        flex-direction: column;
        gap: 40px;
    }

    .exp .row:nth-child(2) .col {
        width: 100% !important;
    }

    .exp .row:nth-child(2) .col:nth-child(2) .item {
        gap: 40px;
    }

    .exp .row:nth-child(3) img {
        width: 100%;
    }

    .exp .row:nth-child(4) {
        flex-direction: column;
        gap: 40px;
    }

    .exp .row:nth-child(4) .col {
        width: 100% !important;
    }

    .exp .row .col h1 {
        font-size: 2.8rem;
    }

    /* doc1 section */

    .doc1 .row {
        flex-direction: column;
        gap: 30px;
        padding: 60px 0;
        height: auto;
    }

    .doc1 .row .col {
        width: 100%;
    }

    .doc1 .row .col:nth-child(3) {
        display: flex;
        justify-content: center;
    }

    .doc1 .row .col:nth-child(3) img {
        width: 100%;
    }

    /* doc2 section */

    .doc2 .row .col h1 {
        font-size: 2.8rem;
    }

    /* doc3 section */
    
    .doc3 .row .col h1 {
        font-size: 2.8rem;
    }
}

/* phone */

@media(max-width: 767px) {
    /* navbar */

    .navbar {
        padding: 0 5%;
    }

    .navbar-logo {
        font-size: 2.4rem;
    }

    .navbar-nav {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        background-color: #0a0a0a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        height: 100vh;
        transform: translateY(-100%);
        transition: 1.2s ease;
    }

    .show-nav {
        transform: translateY(0);
    }
    
    .nav-item {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        filter: blur(2px) brightness(0%);
        opacity: 0;
        transform: translateY(125px);
        transition: 1.2s ease;
    }
    
    .show-nav .nav-item {
        margin-top: 0;
        opacity: 1;
        filter: blur(0) brightness(100%);
        transform: translateY(0);
    }

    .nav-link {
        padding: 30px 0;
        width: 90%;
        border-bottom: 1px solid #aaa;
        font-size: 1.8rem;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 42px;
        height: 23px;
        cursor: pointer;
    }
    
    .hamburger-menu span {
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 1px;
        transition: 0.4s ease;
    }
    
    .hamburger-menu:hover span {
        background-color: #ff9999;
    }

    .hamburger-menu.active span:first-child {
        transform: rotate(45deg) translate(7px, 7px);
        background-color: #ff9999;
    }
    .hamburger-menu.active span:last-child {
        transform: rotate(-45deg) translate(7px, -7px);
        background-color: #ff9999;
    }    

    /* hello section */

    .section.hello {
        background-position: center left 20%;
    }

    .hello .row {
        margin: 0 auto;
        width: 90%;
        height: 100vh;
    }

    .hello .row .col:nth-child(1) {
        gap: 20px;
        width: 100%;
        height: 70%;
    }

    .hello .row .col:nth-child(1) h1 {
        width: 100%;
        font-size: 1.8rem;
    }

    .hello .row .col:nth-child(2) {
        height: 30%;
    }

    .hello .row .col:nth-child(2) .item {
        justify-content: flex-start;
        margin-bottom: 20px;
        width: 100%;
    }

    .hello .row .col .item:nth-child(1) {
        display: none;
    }

    .btn {
        width: 290px;
        height: 50px;
    }

    /* exp section */

    .exp .row {
        width: 90%;
    }

    /* doc1 section */

    .doc1 .row {
        width: 90%;
    }

    .doc1 .row .col .icon {
        height: 45%;
    }

    .doc1 .row .col .item {
        height: 55%;
    }

    .doc1 .row .col:nth-child(3) img {
        width: 120%;
    }

    /* doc2 section */

    .doc2 .row {
        width: 90%;
    }

    .doc2 .row:nth-child(2) .col {
        flex-direction: column;
    }

    /* doc3 section */

    .section.doc3 {
        padding: 60px 0;
    }

    .doc3 .row {
        flex-direction: column;
        gap: 60px;
        width: 90%;
        height: auto;
    }

    .doc3 .row .col {
        width: 100%;
    }
    
    /* footer */

    .footer .row {
        flex-direction: column;
        gap: 0;
        width: 90%;
    }

    .footer .row:nth-child(2) {
        gap: 70px;
    }

    .footer .row .col {
        flex-wrap: wrap;
        width: 100%;
    }
    
    .footer .row .col .brand h2 {
        width: 100%;
    }

    .footer .row .col .item {
        margin-top: 70px;
    }

    .footer .row .col .copyright {
        margin: 0;
    }

    .footer .row:nth-child(2) .col:nth-child(1) {
        gap: 70px;
    }

    .footer .row:nth-child(2) .col:nth-child(2) {
        gap: 70px;
    }
}

@media (max-width: 479px) {
    .btn {
        width: 70%;
    }

    /* doc2 section */

    .doc2 .row .col {
        width: 100% !important;
    }
}