@font-face {
    font-family: "SF Pro Display Black";
    src: url(/font/SF-Pro-Display-Black.ttf);
}

@font-face {
    font-family: "SF Pro Display Heavy";
    src: url(/font/SF-Pro-Display-Heavy.ttf);
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url(/font/SF-Pro-Display-Bold.ttf);
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url(/font/SF-Pro-Display-Semibold.ttf);
}

@font-face {
    font-family: "SF Pro Display Medium";
    src: url(/font/SF-Pro-Display-Medium.ttf);
}

@font-face {
    font-family: "SF Pro Display Regular";
    src: url(/font/SF-Pro-Display-Regular.ttf);
}

@font-face {
    font-family: "SF Pro Display Light";
    src: url(/font/SF-Pro-Display-Light.ttf);
}

@font-face {
    font-family: "SF Pro Display Thin";
    src: url(/font/SF-Pro-Display-Thin.ttf);
}

@font-face {
    font-family: "SF Pro Display Ultralight";
    src: url(/font/SF-Pro-Display-Ultralight.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff99;
}

body {
    overflow: overlay;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    height: auto;
    overflow-x: hidden;
}

/* navbar */

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1920px;
    height: 70px;
    transition: 0.4s ease;
}

.navbar-logo {
    font-family: "SF Pro Display Medium";
    font-size: 3.2rem;
    color: #ffffff;
}

.navbar-nav {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-link {
    font-family: "SF Pro Display Regular";
    font-size: 2.4rem;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.nav-link:hover,
.nav-link.nav-link-active {
    color: orange;
}

.hamburger-menu {
    display: none;
}

/* hello section*/

.section.hello {
    background: linear-gradient( #00000055, #00000000 ), url(../img/hero-11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hello .row {
    display: flex;
    margin: 0 auto;
    width: 96%;
    height: 100vh;
    flex-direction: column;
}

.hello .row .col:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 80%;
}

.hello .row .col:nth-child(1) h1 {
    width: 422px;
    font-family: "SF Pro Display Regular";
    font-size: 2.2rem;
    color: #fff;
}

.hello .row .col:nth-child(2) {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
    height: 20%;
}

.hello .row .col .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 50%;
}

.hello .row .col .item:nth-child(1) {
    justify-content: flex-end;
}

.hello .row .col .item .info h5 {
    font-family: "SF Pro Display Semibold";
    font-size: 1rem;
    color: #ddd;
}

.hello .row .col .item .info p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: orange;
    border: 1px solid orange !important;
    color: #fff !important;
}

.btn p {
    font-family: "SF Pro Display Regular";
    font-size: 0.9rem;
}

.btn i {
    font-size: 1.2rem;
}

/* doc1 section */

.section.doc1 {
    background-color: #ddd;
}

.doc1 .row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 96%;
    height: 512px;
}

.doc1 .row .col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 84%;
}

.doc1 .row .col .article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 84%;
}

.doc1 .row .col:nth-child(2) {
    background-color: #131313;
}

.doc1 .row .col .article .wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px 0;
    border-top: 3px solid #111;
}

.doc1 .row .col .article .wrapper .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc1 .row .col .article .wrapper .item .data {
    display: flex;
    align-items: center;
    gap: 10px;
}

.doc1 .row .col .article .wrapper .item .info h5 {
    font-family: "SF Pro Display Medium";
    font-size: 1rem;
    color: #111;
}

.doc1 .row .col:nth-child(2) .article .wrapper {
    border-top: 3px solid #555;
}

.doc1 .row .col:nth-child(2) .article .wrapper .item .info h5,
.doc1 .row .col:nth-child(2) .article .wrapper .item .info p,
.doc1 .row .col:nth-child(2) .article .wrapper h1 {
    color: #ddd;
}

.doc1 .row .col .article .wrapper .item .info p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #111;
}

.doc1 .row .col .article .wrapper .item .data .circle {
    width: 32px;
    height: 32px;
    background-color: orange;
    border-radius: 50%;
}

.doc1 .row .col .article .wrapper .item .data img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.doc1 .row .col .article .wrapper h1 {
    font-family: "SF Pro Display Medium";
    font-size: 3.8rem;
    color: #111;
    line-height: 100%;
}

.doc1 .row .col .article .btn-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc1 .row .col .article .btn-item h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #111;
    border-radius: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ddd;
}

.doc1 .row .col:nth-child(1) .article .btn {
    border: 1px solid #000;
    color: #000;
}

/* contact section */

.section.contact {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
    height: auto;
    background-color: #fff;
}

.contact .row {
    margin: 0 auto;
    width: 96%;
}

.contact .row .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .row:nth-child(1) .col {
    flex-wrap: wrap;
    gap: 40px;
    height: 100%;
}

.contact .row:nth-child(2) {
    display: flex;
    gap: 60px;
}

.contact .row:nth-child(2) .col {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
}

.contact .row:nth-child(2) .col:nth-child(1) {
    width: 40%;
    gap: 40px;
}

.contact .row:nth-child(2) .col:nth-child(2) {
    width: 60%;
    gap: 30px;
}

.contact .row .col h1 {
    margin-left: -3px;
    font-family: "SF Pro Display Medium";
    font-size: 3.8rem;
    color: #111;
    line-height: 100%;
}

.contact .row .col .info h5 {
    font-family: "SF Pro Display Medium";
    font-size: 1rem;
    color: #111;
}

.contact .row .col .info p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #111;
}

.contact .row .col .paragraph p {
    font-family: "SF Pro Display Regular";
    font-size: 1.2rem;
    color: #111;
}

.contact .row .col .data {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact .row .col .data img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.contact .row .col .data i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: #111;
    border-radius: 50%;
    color: #fff;
}

.contact .row .col form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact .row .col form .input-box,
.contact .row .col form .text-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contact .row .col form .input-box .input-field {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 44px;
    border: 1px solid #111;
    border-radius: 2px;
    outline: none;
    font-size: 1rem;
    font-family: "SF Pro Display Regular";
    color: #111;
}

.contact .row .col form .input-box .input-field:focus {
    outline: 1px solid #111;
}

.input-name {
    font-family: "SF Pro Display Medium";
    font-size: 1rem;
    color: #111;
}

.input-select {
    width: 100%;
    height: 44px;
    border: 1px solid #111;
    border-radius: 2px;
    outline: none;
}

select {
    padding: 0 6px;
    width: 100%;
    height: 100%;
    background-color: unset;
    border: none;
    outline: none;
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #111;
}

#file-input {
    display: none;
}

#file-label {
    border: 1px dashed #777;
}

textarea {
    padding: 10px 10px;
    width: 100%;
    height: 140px;
    border: 1px solid #111;
    border-radius: 2px;
    outline: none;
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #111;
    resize: none;
}

textarea:focus {
    outline: 1px solid #111;
}

.checkbox-box {
    display: flex;
    gap: 10px;
}

#check {
    width: 18px;
    height: 18px;
}

.checkbox-box h6 {
    font-family: "SF Pro Display Regular";
    font-size: 0.9rem;
    color: #111;
}

form .btn {
    border: 1px solid #000;
    background-color: #000;
}

/* footer */

.footer {
    background-color: #131313;
}

.footer .row {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    padding: 70px 0;
    width: 96%;
}

.footer .row:nth-child(1) {
    border-bottom: 1px solid #aaa;
}

.footer .row .col {
    display: flex;
    width: 50%;
}

.footer .row .col .brand h1 {
    margin-bottom: 20px;
    font-family: "SF Pro Display Medium";
    font-size: 2rem;
    color: #777;
}

.footer .row .col .brand h2 {
    width: 80%;
    font-family: "SF Pro Display Medium";
    font-size: 2.6rem;
    color: #ddd;
}

.footer .row:nth-child(1) .col:nth-child(2) {
    gap: 25%;
}

.footer .row .col .item h4 {
    margin-bottom: 30px;
    font-family: "SF Pro Display Medium";
    font-size: 1.2rem;
    color: #777;
    letter-spacing: -0.2px;
}

.footer .row .col .item ul li {
    margin: 5px 0;
}

.footer .row .col .item ul li a {
    font-family: "SF Pro Display Medium";
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: -0.2px;
    white-space: nowrap;
    transition: 0.2s ease;
}

.footer .row .col .item ul li a:hover {
    color: orange;
}

.footer .row:nth-child(2) .col {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.footer .row .col .copyright p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.footer .row .col .user h4 {
    font-family: "SF Pro Display Semibold";
    font-size: 1rem;
    color: #ddd;
}

.footer .row .col .user p {
    font-family: "SF Pro Display Regular";
    font-size: 1rem;
    color: #ddd;
}

.footer .row .col .social {
    display: flex;
    gap: 20px;
}

.footer .row .col .social a i {
    font-size: 1.4rem;
    color: #fff;
    transition: 0.2s ease;
}

.footer .row .col .social a:hover i {
    color: orange;
}

.footer .row .col .btn {
    margin: 0;
}

/* tablet */

@media(max-width: 1023px) {
    /* hello section */

    .hello .row .col:nth-child(2) {
        gap: 0;
    }

    .hello .row .col .item:nth-child(1) {
        justify-content: flex-start;
        width: 50%;
    }
    
    .hello .row .col .item:nth-child(2) {
        justify-content: flex-end;
        width: 50%;
    }
        
    .hello .row .col .item:nth-child(2) .info {
        display: none;
    }

    .doc1 .row .col .article .wrapper h1 {
        font-size: 2.8rem;
    }

    /* contact section */

    .contact .row .col h1 {
        font-size: 2.8rem;
    }
}

@media(max-width:913px) {
    /* doc1 section */

    .doc1 .row {
        flex-direction: column;
        gap: 40px;
        height: auto;
        padding: 40px 0;
    }

    .doc1 .row .col {
        width: 100%;
        height: 379px;
    }
}

@media(max-width:767px) {
    /* navbar */

    .navbar {
        padding: 0 5%;
    }

    .navbar-logo {
        font-size: 2.4rem;
    }

    .navbar-nav {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        background-color: #0a0a0a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        height: 100vh;
        transform: translateY(-100%);
        transition: 1.2s ease;
    }

    .show-nav {
        transform: translateY(0);
    }
    
    .nav-item {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        filter: blur(2px) brightness(0%);
        opacity: 0;
        transform: translateY(125px);
        transition: 1.2s ease;
    }
    
    .show-nav .nav-item {
        margin-top: 0;
        opacity: 1;
        filter: blur(0) brightness(100%);
        transform: translateY(0);
    }

    .nav-link {
        padding: 30px 0;
        width: 90%;
        border-bottom: 1px solid #aaa;
        font-size: 1.8rem;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 42px;
        height: 23px;
        cursor: pointer;
    }
    
    .hamburger-menu span {
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 1px;
        transition: 0.4s ease;
    }
    
    .hamburger-menu:hover span {
        background-color: orange;
    }

    .hamburger-menu.active span:first-child {
        transform: rotate(45deg) translate(7px, 7px);
        background-color: orange;
    }
    .hamburger-menu.active span:last-child {
        transform: rotate(-45deg) translate(7px, -7px);
        background-color: orange;
    }    

    /* hello section */

    .hello .row {
        margin: 0 auto;
        width: 90%;
        height: 100vh;
    }

    .hello .row .col:nth-child(1) {
        gap: 20px;
        width: 100%;
        height: 70%;
    }

    .hello .row .col:nth-child(1) h1 {
        width: 100%;
        font-size: 1.8rem;
    }

    .hello .row .col:nth-child(2) {
        height: 30%;
    }

    .hello .row .col:nth-child(2) .item {
        justify-content: flex-start;
        margin-bottom: 20px;
        width: 100%;
    }

    .hello .row .col .item:nth-child(1) {
        display: none;
    }

    .btn {
        width: 290px;
        height: 50px;
    }

    /* doc1 section */

    .doc1 .row {
        width: 90%;
    }

    /* contact section */

    .contact .row {
        width: 90%;
    }

    .contact .row:nth-child(2) {
        flex-direction: column;
    }
    
    .contact .row:nth-child(2) .col {
        width: 100% !important;
    }

    /* footer */

    .footer .row {
        flex-direction: column;
        gap: 0;
        width: 90%;
    }

    .footer .row:nth-child(2) {
        gap: 70px;
    }

    .footer .row .col {
        flex-wrap: wrap;
        width: 100%;
    }
    
    .footer .row .col .brand h2 {
        width: 100%;
    }

    .footer .row .col .item {
        margin-top: 70px;
    }

    .footer .row .col .copyright {
        margin: 0;
    }

    .footer .row:nth-child(2) .col:nth-child(1) {
        gap: 70px;
    }

    .footer .row:nth-child(2) .col:nth-child(2) {
        gap: 70px;
    }
}

@media (max-width: 479px) {
    .btn {
        width: 70%;
    }
    .doc1 .row .col .article .wrapper .item {
        flex-direction: column;
        align-items: unset;
        gap: 30px;
    }

    .doc1 .row .col {
        height: 479px;
    }
}